.aes {
  max-width: 1100px;
  margin: 0 auto;
}

.aes .btn-group {
  text-align: center;
  margin: 15px 0;
}

.aes .btn-group .el-button-group .el-button--primary:last-child {
  border-left-color: #b3d8ff;
}

.aes .btn-group .el-button-group .el-button--primary:not(:first-child):not(:last-child) {
  border-left-color: #b3d8ff;
  border-right-color: #b3d8ff;
}

.aes .result-box {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  word-break: break-all;
  padding: 10px;
  line-height: 22px;
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
  .aes .aes-form {
    margin-left: -15px;
  }
}
