.uploadImage {
  max-width: 1100px;
  margin: 0 auto;
}

.uploadImage .title {
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0 10px;
}

.uploadImage .upload-control .el-upload {
  display: block;
}

.uploadImage .upload-control .el-upload-dragger {
  width: 100%;
}

.uploadImage .result-list .item {
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  padding: 15px;
  position: relative;
  height: 232px;
}

.uploadImage .result-list .img {
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid #E4E7ED;
}

.uploadImage .result-list .info {
  padding-left: 220px;
  height: 100%;
}

.uploadImage .result-list .el-input-group__append,
.uploadImage .result-list .el-input-group__prepend {
  background-color: #409EFF;
  color: #ffffff;
}

.uploadImage .result-list .resultTiele {
  font-weight: bold;
  display: inline-block;
  width: 72px;
  line-height: 32px;
}

.uploadImage .result-list .infoItem {
  margin: 5px 0;
  position: relative;
}

.uploadImage .result-list .infoUrl {
  padding-left: 72px;
}

@media screen and (max-width: 768px) {
  .uploadImage .result-list .item {
    height: auto;
  }
  .uploadImage .result-list .img {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .uploadImage .result-list .info {
    padding: 0;
  }
  .uploadImage .el-upload-dragger .el-upload__text {
    display: none;
  }
  .uploadImage .el-upload-dragger .el-icon-upload {
    margin-top: 60px;
  }
}
